// TEXT
$primary-text: #1c0f00;
$accent-text: #df7900;
$secondary-text: #623500;
$hero-text: #ffdbb1;
$btn-text: #4a2700;
$social-text: #3f2200;

//BACKGROUND
$bg-body: #fff8f4;
$bg-header: #d7d3ce;
$bg-fon: rgba(0, 0, 0, 0.45);
$bg-btn-hero: #fff8f4;
$bg-bd-modal: #ffeee4;

//ELEMENTS
$icon: #3f2200;
$accent: #df7900;
$pagination: #ffedd7;
$stroke: #341c00;
$burger-menu: #341c00;
$transparent-accent: rgba(223, 121, 0, 0.5);
