.burger-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.bmBox {
  margin-top: 72px;
}

.bmItem {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.bmContacts {
  position: relative;
  top: -32px;
}

.iconPhone {
  margin-right: 4px;
}

.bmContactsItemSocialBox {
  display: flex;
  justify-content: flex-end;
}

.bmContactsItemSocial {
  margin-left: 32px;

  &:first-child {
    margin-left: 0;
  }
}

.iconSocial {
  // fill: $icon;
  color: $icon;
}
