<section class="hero">
  <!-- Hero BK -->
  <div class="heroBk">
    <div class="titleHeroBox">
      <h1 class="titleHero">Більярдній клуб Арго</h1>
      <div class="btnMainHeroBox">
        <button class="btnMainHero">Забронювати стіл</button>
      </div>
    </div>
    <div class="swiper">
      <div class="bgFon"></div>
      <div class="bgFonImg">
        <img
          srcset="
            ../../images/backdrop/billiard_fonMob.png   320w,
            ../../images/backdrop/billiard_fonMob@2.png 640w
          "
          sizes="(min-width: 320px) 320px, 100vw"
          src="../../images/backdrop/billiard_fonMob.png"
          alt="billeard backdrop"
        />
      </div>
    </div>
    <p class="heroHeroText">
      Lorem ipsum dolor sit amet consectetur. Non feugiat odio pretium fames.
      Quis sodales fermentum urna aliquet sit hendrerit diam. Sodales aenean ut
      enim tempus risus tincidunt dolor quis. Leo egestas suspendisse vel
      interdum imperdiet a tincidunt feugiat lacus. Quam tempor eu risus
      pulvinar. In rhoncus vitae aliquet non semper massa. Non tellus dolor vel
      massa sem ante montes. Velit eget tempus tortor tristique etiam.
    </p>

    <button type="button" class="btnHeroHero">Тарифи на більярд</button>
    <button type="button" class="btnHeroHero">Цінник на бар</button>
  </div>

  <!-- Hero Cafe -->
  <div class="heroCafe">
    <div class="titleHeroBox-Cafe">
      <h1 class="titleHero-Cafe">Кафе Арго</h1>
      <div class="btnMainHeroBox">
        <button class="btnMainHero">Зробити замовлення</button>
      </div>
    </div>
    <div class="swiperCafe">
      <div class="bgFon"></div>
      <div class="bgFonImg">
        <img
          srcset="
            ../../images/backdrop/cafe_FonMob.png   320w,
            ../../images/backdrop/cafe_FonMob@2.png 640w
          "
          sizes="(min-width: 320px) 320px, 100vw"
          src="../../images/backdrop/cafe_FonMob.png"
          alt="cafe backdrop"
        />
      </div>
    </div>
    <p class="heroHeroText">
      Lorem ipsum dolor sit amet consectetur. Non feugiat odio pretium fames.
      Quis sodales fermentum urna aliquet sit hendrerit diam. Sodales aenean ut
      enim tempus risus tincidunt dolor quis. Leo egestas suspendisse vel
      interdum imperdiet a tincidunt feugiat lacus. Quam tempor eu risus
      pulvinar. In rhoncus vitae aliquet non semper massa. Non tellus dolor vel
      massa sem ante montes. Velit eget tempus tortor tristique etiam.
    </p>

    <button type="button" class="btnHeroHero">Меню кафе</button>
    <button type="button" class="btnHeroHero">Банкетні меню</button>
  </div>
</section>
