<section class="photo">
  <h3 class="photoTitile">Фото</h3>
  <h4 class="photoTitleBk">Більярд</h4>

  <!-- PHOTO BK -->
  <ul>
    <li>
      <img srcset=" ./images/mob_photo/snooker_214.png 214w,
      ./images/mob_photo/snooker_214@2.png 428w"
      sizes="(min-width: 320px) 214px, 100vw"
      src="./images/mob_photo/snooker_214.png" alt="Snooker table" />
    </li>
    <li>
      <img src="./images/mob_photo/snooker_balls_214.png" alt="Snooker table" />
    </li>
    <li><img src="./images/mob_photo/pool_214.png" alt="" /></li>
  </ul>
</section>
