<section class="photo">
  <h3 class="photoTitile">Фото</h3>
  <h4 class="photoTitleBk">Більярд</h4>

  <!-- PHOTO BK -->
  <ul class="photoBkSliderList">
    <div class="arrowNav arrowPrev">
      <button class="btnArrow">
        <svg width="50" height="50">
          <use href="./images/icons.svg#icon-arrowPrev"></use>
        </svg>
      </button>
    </div>
    <li class="photoBkSliderItem">
      <img
        srcset="
          ./images/mob_photo/snooker_214.png   214w,
          ./images/mob_photo/snooker_214@2.png 428w
        "
        sizes="(min-width: 320px) 214px, 100vw"
        src="./images/mob_photo/snooker_214.png"
        alt="Snooker table"
      />
    </li>
    <li class="photoBkSliderItem">
      <img
        srcset="
          ./images/mob_photo/snooker_balls_214.png   214w,
          ./images/mob_photo/snooker_balls_214@2.png 428w
        "
        sizes="(min-width: 320px) 214px, 100vw"
        src="./images/mob_photo/snooker_balls_214.png"
        alt="Snooker table"
      />
    </li>
    <li class="photoBkSliderItem">
      <img
        srcset="
          ./images/mob_photo/pool_214.png   214w,
          ./images/mob_photo/pool_214@2.png 428w
        "
        sizes="(min-width: 320px) 214px, 100vw"
        src="./images/mob_photo/pool_214.png"
        alt="Pool"
      />
    </li>
    <div class="arrowNav arrowNext">
<button class="btnArrow">
  <svg width="50" height="50">
    <use href="./images/icons.svg#icon-arrowNext"></use>
  </svg>
</button>
    </div>
  </ul>
</section>
