<section class="photo">
  <h4 class="photoSubtitle">Кафе</h4>

  <ul class="photoBkSliderList">
    <!-- arrows slider -->
    <div class="arrowNav arrowNext">
      <button class="btnArrow">
        <svg width="50" height="50">
          <use href="./images/icons.svg#icon-arrowNext"></use>
        </svg>
      </button>
    </div>
    <div class="arrowNav arrowPrev">
      <button class="btnArrow">
        <svg width="50" height="50">
          <use href="./images/icons.svg#icon-arrowPrev"></use>
        </svg>
      </button>
    </div>

    <div class="testSlickCafe">
      <li class="photoBkSliderItem">
        <img
          srcset="
            ./images/mob_photo/cafe0_214.png   214w,
            ./images/mob_photo/cafe0_214@2.png 428w
          "
          sizes="(min-width: 320px) 214px, 100vw"
          src="./images/mob_photo/cafe0_214.png"
          alt="Cafe stand"
        />
      </li>
      <!-- <li class="photoBkSliderItem">
        <img
          srcset="
            ./images/mob_photo/cafe1_214.png   214w,
            ./images/mob_photo/cafe1_214@2.png 428w
          "
          sizes="(min-width: 320px) 214px, 100vw"
          src="./images/mob_photo/cafe1_214.png"
          alt="Cafe arch"
        />
      </li>
      <li class="photoBkSliderItem">
        <img
          srcset="
            ./images/mob_photo/cafe2_214.png   214w,
            ./images/mob_photo/cafe2_214@2.png 428w
          "
          src="./images/mob_photo/cafe2_214.png"
          alt="Cafe lounge and stage"
        />
      </li> -->
    </div>
  </ul>
</section>
