.hero {
  margin-top: 32px;
}

.heroBk {
  padding-bottom: 64px;
}

.swiper {
  position: relative;
}

.bgFonImg {
  // max-width: 767px;
  // min-height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
}

.bgFon {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: $bg-fon;
  z-index: 10;
}

/* content */

.iconPhoneBtnHero {
  margin-right: 8px;
}
