/* CAFE */
.heroCafe {
  position: relative;
  padding-bottom: 64px;
}

.titleHeroBox-Cafe {
  position: absolute !important;
  top: 25%;
  left: 10%;
  right: 10%;
  z-index: 11;
}

.swiperCafe {
  position: relative;
}
