.hero {
  position: relative;
  margin-top: 32px;
}

.bgFonImg {
  max-width: 767px;
  min-height: 100%;
}

.bgFon {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  background-color: $bg-fon;
}
