.footer {
  background-color: $bg-header-footer;
  padding: 0 15px;
}

.footerBox {
  margin: 0 auto;
  max-width: 320px;
}

.logoFooter {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}

.navFooter {
  display: block;
  margin: 0 auto;
  // max-width: 320px;
}

.footerList {
  @include mobileMin {
    gap: 2px;
  }

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4px;
  padding: 24px 0 20px 0;
}

.footerItem {
  flex-basis: calc(100% - 5px) / 2;
  padding: 5px;
  min-width: 150px;

  transform: translateX(4px);

  &:nth-child(2n) {
    min-width: 132px;
  }
}

.footerContactBox {
  display: block;
  padding-top: 6px;
}

.footerContactItem {
  display: flex;
  margin-bottom: 16px;
  fill: $icon;

  &:last-child {
    margin-bottom: 0;
  }
}

.iconPhone {
  @include mobile {
    min-width: 19px;
    min-height: 19px;
  }
}

.footerlink {
  display: flex;
  margin-left: 4px;
  margin-right: 8px;
}

.addressLocal {
  display: flex;
  padding-top: 24px;
}

.addressTextLocal {
  margin-left: 14px;

  &:first-child {
    margin-left: 0;
  }
}

.footerSocialBox {
  display: flex;
  justify-content: end;
  padding-top: 24px;
}

.footerSocial {
  margin-right: 32px;

  &:last-child {
    margin-right: 17px;
  }
}

.footerSocialLink {
  fill: $icon;
}

.rightReserved {
  display: flex;
  justify-content: center;
  padding: 24px 0 8px 0;
}
