.headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoHeader {
  padding: 23px 0;
}

.headerArgo {
  background-color: $bg-header-footer;
  height: 80px;
}

.burgerMenu {
  fill: $burger-menu;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: none;
}
