.backdropBk {
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  //   min-width: 220px;
  //   min-height: 100%;
  background-color: $bg-fon;

  // overflow-y: auto;
  // height: 100vh;
  z-index: 150;
}

.is-hiddenBk {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modalPriceBk {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 300px;
  min-height: 568px;

  background-color: $bg-bd-modal;
  border-radius: 8px;

  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 32px;
  transform: translate(-50%, -50%);
}

.close-btn-modal {
  //   @include desktop {
  //     cursor: pointer;

  //     &:hover {
  //       fill: $accent;
  //     }
  //   }

  position: absolute;
  right: 15px;
  top: 15px;
  fill: $icon;
  border-radius: 50%;
  border: none;
  background-color: transparent;

  cursor: none;
}

.modalPriceBkList {
  padding-bottom: 32px;
}

.modalPriceBkItem {
  display: flex;
  justify-content: space-between;
  color: $primary-text;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.modalContactsList {
  margin: 0 auto;
  margin-top: 12px;
  padding-bottom: 20px;
}

.priceBkBox {
  padding-bottom: 52px;
}
