.backdropBkBar {
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  // min-width: 220px;
  // min-height: 100%;
  background-color: $bg-fon;

  overflow-y: auto;
  // height: 100vh;
  z-index: 150;
}

.is-hiddenBkBar {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modalPriceBkBar {
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  max-width: 300px;
  min-height: 568px;

  background-color: $bg-bd-modal;
  border-radius: 8px;

  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 32px;
  transform: translate(-50%, -50%);
}

.close-btn-modal {
  //   @include desktop {
  //     cursor: pointer;

  //     &:hover {
  //       fill: $accent;
  //     }
  //   }

  position: absolute;
  right: 15px;
  top: 15px;
  fill: $icon;
  border-radius: 50%;
  border: none;
  background-color: transparent;

  cursor: none;
}

// .modalSubtitlePriceBkBarBox {
//   @include font(18px, 1.1, 0.01, 400);

//   display: flex;
//   justify-content: center;
//   padding-top: 72px;
//   padding-bottom: 32px;
//   // padding: 72px 0 52px 0;
// }

.modalPriceBkBarList {
  position: relative;
  padding-bottom: 32px;
}

.modalPriceBkBarItem {
  display: flex;
  justify-content: space-between;
  color: $primary-text;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

// .modalPriceBkBarText {
//   @include font(21px, 1.1, 0.02, 200);
// }

.lineModalBkBar {
  border: 0.5px solid $stroke;
  width: 220px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 32px;
}

// .modalContactsText {
//   margin-left: 8px;
// }

// .modalContaactsTel {
//   @include font(14px, 1.1, 0.05em, 300);

//   color: $secondary-text;
//   margin-right: 32px;

//   &:last-of-type {
//     margin-right: 0;
//   }
// }

// .openBkBarPrice {
//   @include font(18px, 1.1, 0.02, 200);

//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 4px 0 4px 12px;
//   margin-bottom: 12px;
//   color: $primary-text;
//   fill: $icon;
//   background-color: transparent;
//   border: none;
//   border-radius: 4px;
// }

// .arrowNext {
//   margin-left: 8px;
// }
